.container-fluid {
    height: 100vh;
}

.my-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container {
    width: 95%;
    height: 70vh;
    border: 2px solid black;
    overflow: hidden;
}

.my-images {
    width: 80%;
}

.my-images .banner {
    display: none;
}

.my-images .banner.active {
    display: block;
}

.my_preview {
    width: 20%;
}

.preview-img img {
    width: 100%;
    height: 14vh;
    object-fit: cover;
}




.fa-solid {
    font-size: 2rem;
    z-index: 2;
    left: 130px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 50%;

    cursor: pointer;
}

.fa-chevron-up {
    bottom: 530px;
}

.fa-chevron-down {
    bottom: 30px;
}

/* .thumb-active {
    border: 4px solid rgb(152, 144, 144);
    display: block;
}  */